<br><br>
<div class="row">
    <div class="subrow">
        <div class="footerHeader">Legal</div>
        <a class="footerLink" href="/privacy">Privacy Policy</a>
        <br>
        <a class="footerLink" href="/tos">Terms Of Service</a>
    </div>
    <div class="subrow">
        <div class="footerHeader">Resources</div>
        <a class="footerLink" href="/dashboard">Dashboard</a>
        <br>
        <a class="footerLink" href="/docs">Docs</a>
        <br>
        <a class="footerLink" href="/discord">Discord</a>
    </div>
</div>