.AppTile {
    background-color: #333439;
    border-radius: 10px;
}

.AppText {
    color: white;
}

.AppName {
    /* text-align: left;
    margin-left: 20px; */
    font-size: 50px;
    font-weight: bolder;
}

.AppButton {
    margin-right: 20px;
    font-size: 50px;
    font-weight: bolder;
    align-self: right;
    border-radius: 20px;
    background-color: #5865f2;
    color: white;
    width: 335px;
}